<?xml version="1.0"?><!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  --><configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
  <sectionGroup name="businessObjects"><sectionGroup name="crystalReports"><section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/></sectionGroup></sectionGroup></configSections>
  <appSettings>
    <add key="PageInspector:ServerCodeMappingSupport" value="Disabled"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="conn" connectionString="Data Source=192.168.123.25;User ID=usrprogram; Password=hanya!@#**UTKPRgr4M; Initial Catalog=thailand" providerName="SQLOLEDB" />-->
    <add name="conn" connectionString="Data Source=192.168.123.25;User ID=usrprogram; Password=hanya!@#**UTKPRgr4M; Initial Catalog=aerotrans_demo" providerName="SQLOLEDB"/>
    <add name="conec" connectionString="Data Source=172.52.125.6;User ID=usrprogram; Password=hanya!@#**UTKPRgr4M; Initial Catalog=aerotrans" providerName="SQLOLEDB" />
    <add name="con" connectionString="Data Source=192.168.123.17;User ID=usrprogram; Password=hanya!@#**UTKPRgr4M; Initial Catalog=sales" providerName="SQLOLEDB" />
    <add name="connP" connectionString="Data Source=192.168.222.38;User ID=usrprogram; Password=hanya!@#**UTKPRgr4M; Initial Catalog=Proints" providerName="SQLOLEDB" />
    <add name="constr" connectionString="Data Source=192.168.123.25;User ID=usrprogram; Password=hanya!@#**UTKPRgr4M; Initial Catalog=aerotrans" providerName="SQLOLEDB" />
    <add name="connn" connectionString="Data Source=192.168.123.17;User ID=usrprogram; Password=hanya!@#**UTKPRgr4M; Initial Catalog=sales" providerName="SQLOLEDB" />
    <add name="confinance" connectionString="Data Source=172.61.1.12;User ID=usrprogram; Password=hanya!@#**UTKPRgr4M; Initial Catalog=Financedemo" providerName="SQLOLEDB" />
    <add name="connTax" connectionString="Data Source=192.168.123.25;User ID=usrprogram; Password=hanya!@#**UTKPRgr4M; Initial Catalog=TaxReport" providerName="SQLOLEDB" />
    <add name="connTrax" connectionString="Data Source=172.61.1.12;User ID=usrprogram; Password=hanya!@#**UTKPRgr4M; Initial Catalog=TraxPlus" providerName="SQLOLEDB" />
    <add name="myConn" connectionString="server=192.168.180.210;port=3306;database=data_bat;uid=adong;password=adong;Convert Zero Datetime=True" />
    <!--<add name="Oracon" connectionString="Data Source=192.168.180.229;User Id=odb;Password=odb; Initial Catalog =TRAX"/>-->
    <!--<add name="Oracon" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=172.55.2.224)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=TRAX)));User Id=odb;Password=odb;" providerName="Oracle.DataAccess.Client"/>-->
    <!--<add name="Oracon" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=traxprodlive.cm8lm59gwme1.ap-southeast-1.rds.amazonaws.com)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=TRAX)));User Id=odb;Password=odb;" providerName="Oracle.DataAccess.Client"/>-->
    <add name="Oracon" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=emroprod.cm8lm59gwme1.ap-southeast-1.rds.amazonaws.com)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=TRAX)));User Id=odb;Password=Welcome45se;" providerName="Oracle.DataAccess.Client" />
    <add name="conntf" connectionString="Data Source=172.52.125.6;User ID=usrprogram; Password=hanya!@#**UTKPRgr4M; Initial Catalog=TeknikFINANCE" providerName="SQLOLEDB" />
    <add name="connlgT" connectionString="Data Source=172.61.1.12;User ID=usrprogram; Password=hanya!@#**UTKPRgr4M; Initial Catalog=BATAMLOGFINANCE" providerName="SQLOLEDB" />
    <add name="connLG" connectionString="Data Source=172.52.125.6;User ID=usrprogram; Password=hanya!@#**UTKPRgr4M; Initial Catalog=LIONGROUPFINANCE" providerName="SQLOLEDB" />
    <add name="connjt" connectionString="Data Source=172.52.125.6;User ID=usrprogram; Password=hanya!@#**UTKPRgr4M; Initial Catalog=FINANCE" providerName="SQLOLEDB" />
    <add name="connIW" connectionString="Data Source=172.65.1.8;User ID=usrprogram; Password=hanya!@#**UTKPRgr4M; Initial Catalog=WINGSFINANCE" providerName="SQLOLEDB" />
    <add name="connOD" connectionString="Data Source=172.66.1.37;User ID=usrprogram; Password=hanya!@#**UTKPRgr4M; Initial Catalog=MalindoFINANCE" providerName="SQLOLEDB" />
    <add name="connID" connectionString="Data Source=172.62.130.11;User ID=usrprogram; Password=hanya!@#**UTKPRgr4M; Initial Catalog=BatikAirFINANCE" providerName="SQLOLEDB" />
    <add name="connASS" connectionString="Data Source=172.52.125.6;User ID=usrprogram; Password=hanya!@#**UTKPRgr4M; Initial Catalog=AngkasaFINANCE" providerName="SQLOLEDB" />
    <add name="connSL" connectionString="Data Source=172.64.1.10;User ID=usrprogram; Password=hanya!@#**UTKPRgr4M; Initial Catalog=ThaiFinance" providerName="SQLOLEDB" />
    <add name="connSAJ" connectionString="Data Source=172.61.1.9;User ID=usrprogram; Password=hanya!@#**UTKPRgr4M; Initial Catalog=SAJFinance" providerName="SQLOLEDB" />
    <add name="conntrx" connectionString="Data Source=172.61.1.12;User ID=usrprogram; Password=hanya!@#**UTKPRgr4M; Initial Catalog=TraxPlus" providerName="SQLOLEDB" />
	  <add name="connAAS" connectionString="Data Source=172.62.130.11;User ID=usrprogram; Password=hanya!@#**UTKPRgr4M; Initial Catalog=AVIASIFINANCE" providerName="SQLOLEDB" />
    <add name="conPOne" connectionString="Data Source=192.168.180.164;User ID=xdbpo; Password=gondring; Initial Catalog=DBPO" providerName="SQLOLEDB" />
    <add name="Excel03ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES;IMEX=1;';" />
    <add name="Excel07+ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 12.0;HDR=YES;IMEX=1;';" />
    
    <add name="Excel03ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES;IMEX=1;';"/>
    <add name="Excel07+ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 12.0;HDR=YES;IMEX=1;';"/>
  </connectionStrings>
  <system.web>
    <httpRuntime maxRequestLength="1048576"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      </assemblies>
    <buildProviders><add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/></buildProviders></compilation>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
    <defaultDocument>
      <files>
        <clear/>
        <add value="index.aspx"/>
        <add value="login.aspx"/>
        <add value="default.aspx"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="index.html"/>
        <add value="iisstart.htm"/>
      </files>
    </defaultDocument>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
  </system.webServer>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.16.0.0" newVersion="2.16.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
<businessObjects><crystalReports><rptBuildProvider><add embedRptInResource="true"/></rptBuildProvider></crystalReports></businessObjects></configuration>